.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



@import url('https://fonts.googleapis.com/css2?family=Tuffy:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{transition: all .5s;}
html{
    background: linear-gradient(to top, rgba(129, 12, 133, 0.5), rgba(135, 140, 207, 0.8)), url("../public/prism.png");
    font-family: "Tuffy", sans-serif;;
}
#App{
    position: relative;
}
#container1{
    width: 1000px;
    aspect-ratio: 1/1.4;
    background-color: white;
    padding: 10px;
    margin-inline: auto;
    margin-block: 10px;
    box-shadow: 2px 12px 12px 2px rgba(0, 0, 255, 0.2);
}
#spellList{
    width: 500px;
    top: 200px;
    right: 300px;
    aspect-ratio: 1/1.4;
    background-color: white;
    border: 10px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-inline: auto;
    margin-block: 10px;
    position: absolute;
    /* display: none; change this */
    box-shadow: 2px 12px 12px 2px rgba(0, 0, 255, 0.2);
    overflow-y: scroll;
}
header, main, div, span, ul, section, footer{
    /* outline: solid red 2px; */
    /* padding: 10px; kill this */
}
section{
    margin: 10px;
}
.description, .stat{
    margin-block: 5px;
}
header{
    width: 100%;
    height: 10%;
    display: flex;
}
header #nameContainer > div:first-child{
    margin-bottom: 20%;
}
header #nameContainer .stat{
    font-size: 35px;
}
div, span{
    position: relative;
}
p{
    padding: 5px;
    margin: 30px;
}
p, span, label{
    text-transform: capitalize;
    width: fit-content;
    margin: auto;
}
ul, li{
    margin: auto;
    margin-top: 0;
    margin-left: 7px;
    list-style-type: none;
    padding: 0;
    text-align: left;
}
li{
    margin-block: 5px;

}
li > span:first-child{
    padding-inline: 5px;
    margin-right: 5px;
    border: 2px solid black;
    border-radius: 5px;
    /* outline: 2px solid white; */
}
li:first-child{
    margin-bottom: 15px;
    border-bottom: 2px solid black;
}
main{
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: 60% 40%;
}
.stat{
    outline: solid 2px white;

}
.stat:not(>.description){
    height: 50%;
    margin: auto;
    font-size: 35px;
    width: fit-content;
}
.description{
    width: 80%;
    height: 35%;
    margin: auto;
    border-top: solid black 2px;
}
#nameContainer{
    width: 35%;
    height: 100%;
    display: block;
}
#roleContainer{
    width: 65%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}
#left{
    height: 90%;
}
#right{
    height: 100%;
}
#leftBottom{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#generalStats{
    width: 100%;
    height: 9%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
#attributeSection{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
#characterTraits > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-block: 15px;
    height: 150px;
}
#characterTraits .stat{
    width: 90%;
    margin-inline: auto;
}
#characterTraits .description{
    margin-bottom: 0px;
    float: bottom;
}
#characterTraits > div:nth-child(5){
    height: 500px;
    margin-bottom: 20px;
}
#characterTraits > div:nth-child(5) > div:last-child{
    margin-bottom: 20px;
    height: 30px;
}
#equipment{
    height: 95%;
}
#spellList{
    font-size: 25px;;
}
#spellList p{
    border-bottom: solid 2px black;
    margin-block: 30px;
}
#spellList span{
    width: 350px;
    display: block;
}
.icon{
    /*padding: 15px 20px 20px 20px;*/
    width: fit-content;
    height: fit-content;
    float: right;
    text-align: right;
    transition: all .3s;
}
.icon>img{
    width: 35px;
}
.icon:hover{
    cursor: pointer;
    filter: invert(.9);
    transform: scale(1.05);
    transition: all .3s;
}
.hidden{
    background-color: black;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: black;
    text-decoration: none;
    transition-duration: .1s;
    border: none;
}
.hidden:hover{
    /*
    background-color: rgb(211, 211, 211);
    color: rgb(211, 211, 211);
    */
    background-color: rgb(91, 149, 255);
    color: rgb(91, 149, 255) ;
    transform: scale(1.03);
    transition-duration: all .1s;
}
.modifier{
    font-size: 40px;
    /* border-bottom: 2px solid black; */
}
.modifier span:not(.core-stat){
    font-weight: 700;
}
.attribute{
    display: grid;
    grid-template-columns: 5fr 8fr;
    border: solid black 2px;
    border-radius: 5px;
    height: 190px;
}
.attribute > div{
    display: grid;
    width: 100%;
    padding-inline: 2px;
    grid-template-rows: 4fr 3fr 1fr;
    border-right: solid black 2px;
}
.attribute .description{
    font-weight: 700;
}
.modifier span:first-child{
    border-bottom: 2px solid black;
}
.core-stat{
    font-size: 20px;
}
.trait > span, .proficiency > span{
    text-transform: capitalize;
    text-align: center;
}
.trait:not(.hidden), .proficiency:not(.hidden){
    padding-inline: 15px;
    border: 2px solid black !important;
    border-radius: 5px !important;
    margin-block: 5px;
    text-transform: none;
    text-align: left;
    padding-bottom: 10px;
}
.toggleModal{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}
/*-----BORDERS-----*/

header{
    border: 2px solid black;
    border-radius: 5px;
}
#generalStats{
    border: 2px solid black;
    border-radius: 5px;
}
#characterTraits{
    border: 2px solid black;
    border-radius: 5px;
}
#characterTraits > div:first-child, #right > div:first-child{
    margin-top: 0px;
}
#characterTraits > div, #characterTraits > div > div:first-child{
    border: 2px solid black;
    border-radius: 5px;
}
#right{
    border: 2px solid black;
    border-radius: 5px;
}
#right > div{
    border: 2px solid black;
    transition: all 0.3s ease-in;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 20px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#right > div > span{
    padding-inline: 15px;
    border: 2px solid white;
    border-radius: 5px;
    width: 300px;
    max-height: 1000px;
    transition: all .5s;
}
#right span:last-of-type{
    margin-bottom: 15px;
}
#right span>:first-child{
    font-weight: bold;
}

/*-----BLACKOUT-----*/
/* #name, #class, #background, #race, #alignment, #armorClass, #initiative, #speed, #hitPoints, #personalityTraits, #ideals, #bonds, #flaws, #equipment, #strengthSave, #dexteritySave, #constitutionSave, #intelligenceSave, #wisomSave, #charismaSave, #athletics, #actobatics, #sleightOfHand, #stealth, #arcana, #history, #investigation, #nature, #religion, #animalHandling, #insight, #medicine, #perception, #survival, #deception, #intimidation, #performance, #persuasion{
    background-color: black;
} */

/* .stat, .stat-horizontal, .modifier, .core-stat{
    background-color: black;
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
    cursor: pointer;
    border-inline: 2px solid white;
}  */
  .stat{
    white-space: pre-wrap;
  }
input{
}
input:checked{
    opacity: 1;
}
